<!DOCTYPE html>
<html>
  <head>
    <style>
      a {
        display: inherit;
      }
      button {
        display: initial;
      }
    </style>
  </head>
  
  <body>
    <div class="container">
      <a href="tel:1800-103-9141">1800-103-9141(toll free)</a>
      <a href="tel:1800-103-9141">1800-103-9141(toll free)</a>
      <input value="18001039141" type="tel" />
      <button>Call</button>
    <script>
          function thousands_separators(num)
  {
    var num_parts = num.toString().split(".");
    num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return num_parts.join(".");
  }
  
  alert(thousands_separators(1000));
  alert(thousands_separators(10000.23));

    </script>
  </body>
</html>
